# Tell Travis the project language.
language: ruby

# Route to the container-based infrastructure for a faster build.
sudo: false

# Install the required Ruby Gems --- this location is preferred over a Gemfile,
# so that the repository does not require an additional config file.
install:
  - gem install canvas-workflow -v '~>0.5'

# The stages of building and deploying the Canvas Workflow site.
script:
- canvas push         # push changes to Canvas LMS
- canvas jekyll build # build site
- canvas deploy       # deploy site to Canvas LMS
